__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store

.venv/
venv/
env/

.idea/
.vscode/

*.log

files/*
Hybrid_rec_sys/als/*
Hybrid_rec_sys/api/logs/*
Hybrid_rec_sys/catboost_info/*
Hybrid_rec_sys/data/*
Hybrid_rec_sys/data1/*
Hybrid_rec_sys/files/*
Hybrid_rec_sys/raw/*
Hybrid_rec_sys/scripts/*
Hybrid_rec_sys/vectorized/*

Content_based/.ipynb_checkpoints/*
Content_based/catboost_info/*
Content_based/data/*
Content_based/mlruns/*
Content_based/raw/*
Content_based/saved_models/*
Content_based/vectorized/*
Content_based/files/*

Collaborative_filtering/.ipynb_checkpoints/*
Collaborative_filtering/data/*
Collaborative_filtering/files/*

